.component {
  width: 300px;
  height: 100%;

  border-right: solid 1px rgb(204, 204, 204);

  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 20px;
  row-gap: 20px;
}

.button {
  /* Cancel button's default styling */
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  font-size: unset;

  border: solid 1px grey;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 16px;
  padding-right: 16px;

  color: grey;
}

.select {
  background: rgb(84, 84, 184);
  border: solid 1px rgb(84, 84, 184);
  color: white;
}
